<html>
	<head th:replace="~{base :: head}"></head>
	
	<body>
	<div th:replace="~{base :: logo}"></div>
		
	<nav class="navbar navbar-expand bg-body-tertiary d-flex justify-content-between mb-3">
				<div class="navbar-nav">		
					<a class="nav-link mt-2" href="/chat"> Chat</a>
					<a class="nav-link mt-2" href="/feedback"> <b> Feedback</b></a>
					<a class="nav-link mt-2" href="/suporte">Suporte</a>
					<a class="nav-link" href="/feedback/formulario">  <button class="btn btn-primary h-0 d-inline-block"> Novo Feedback</button></a>
				</div>
				</nav>
				
		<div class= "container">
			<div th:replace="~{base :: titulo('Feedback')}"></div>
		<div class="card mb-3" th:each="feedback: ${feedbacks}">
		<b><div class="card-header" th:text=${feedback.nomeFeedback}></div></b>	
			<div class="card-body">
			
			<div class="col-12 col-sm-8 mb-3">
                    <div class="row">
                        
			
							<div class="col-md-7">  	
								<p>	<b>Tipo de Feedback: </b><span th:text=${feedback.tipoFeedback}></span></p>			
							</div>
										
						</div>
					</div>
			</div>
		</div>
        </div>
	
	
	</body>
</html>